img {
    width: 100%
}

button {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    border-radius: 5px; /* Rounded corners */
    background-color: white; /* Darker green on hover */
    color: darkblue;
}

button:hover {
    background-color: lightblue; /* Light green */
    border: none;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px; /* Optional: Adds spacing between grid items */
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 5%;
    margin-top: -150px;
}
a {
    text-decoration: none;
}